
    <div class="hotel-detail-content">
      <div class="wrapper">
          
      <div class="hotel-detail-content-left">
          
      <div class="hotel-detail-breadcrumb">
  <!--        <ul>
              <li><a href="#">home&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</a></li>
              <li><a href="#">Luxury COllection&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</a></li>
              <li><a href="#" class="active">Hotel Details</a></li>
          </ul>
  -->    
    <h2>Just a  Hotel Preview Page</h2>
    </div><!-- hotel detail breadcrumb ends here -->
      <div class="hotel-detail-information">
          <label></label>
         <h6></h6>
         
  
          <span class="col-reviews">
              
                   <img src="../assets/images/search-form/rating-star.png" alt="">
               
              <label>485 Reviews</label>
          </span>
      </div><!-- hotel detail information ends here -->  
      
      <div class="hotel-detail-slider"><img src="" height="700" width="800"></div><!-- hotel detail slider ends here -->    
      <div class="hotel-detail-tabs">
          <div class="nav-tabs">
            <ul>
              <li class="active"><a href="#tab1">Description</a></li>
              <li><a href="#tab2">Amenities</a></li>
              <li><a href="#tab3">Collections</a></li>
              <li><a href="#tab4">HJ Ratings</a></li>
              <li><a href="#tab5">Star Ratings</a></li>
          </ul>
          </div>
          <div class="tab-content active" id="tab1">
              <h6>General Information</h6>
              <p>, </p>
              <div class="detail-img-content maintain">
                  <span class="detail-img-content-left defineBar">
                  <p><b>Facilities</b></p>
                  <ul class="leftBar">
                      <li></li>
                          </ul><ul class="RightBar">
                  </ul>
                  </span>
      <!--            <span class="detail-img-content-right"></span>
      -->        </div>
  <!--            <div class="clear"></div>
  -->            
              <!--<div class="need-to-know-cont">
                  <h6>you need to know</h6>
                  <p>Pellentesque ac turpis egestas, varius justo et, condimentum augue. Praesent aliquam, nisl feugiat vehicula condimentum, justo tellus scelerisque metus. Pellentesque varius justo et, condimentum augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>-->
              
          </div>
          <div class="tab-content " id="tab2">
            <div class="detail-img-content maintain">
                  <span class="detail-img-content-left defineBar">
                  <p><b>Amenities</b></p>
                  <ul class="leftBar">
                      <li></li>
                          </ul><ul class="RightBar">
                  </ul>
                  </span>
          <!--            <span class="detail-img-content-right"></span>
          -->        </div>
      </div>
  
      </div>    
          
      </div><!-- left content ends here -->   
      
      <div class="hotel-detail-content-right">
          <div class="book-now-top-cont">
              <p>price from <b>$ </b> / night</p>
              <a href="#"> <button type="button" name="" value="" class="book-now-top-btn">Book now</button></a>
          </div>
          <div class="detail-green-box">
              <h6>details</h6>
              <p>price: <b>$  / night</b></p>
              <p>location: <b></b></p>
              <p>date: <b> to </b></p>
              <p>rate: <b></b></p>
              <p>number of people: <b></b></p>
              <p>number of child: <b></b></p>
              <p>hotel: <b></b></p>
              <p>kind of transport: <b></b></p>
              <button type="button" name="" value="" class="view-on-map-btn">view on map</button>
              <button type="button" name="" value="" class="view-on-map-btn bok-btn">book now</button>
          </div>
          
          <div class="map-contttt"></div>
          <button type="button" name="" value="" class="useful-information-btn"> useful information</button>
      </div><!-- right content ends here -->        
       
          
      </div>     
      </div>  
  
      <div class="hotel-detail-content">
      <div class="wrapper">
          
      <div class="hotel-detail-content-left">
          
      <div class="hotel-detail-breadcrumb">
          <ul>
              <li><a href="#">home&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</a></li>
              <li><a href="#">Luxury COllection&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</a></li>
              <li><a href="#" class="active">Hotel Details</a></li>
          </ul>
      </div><!-- hotel detail breadcrumb ends here -->
      <div class="hotel-detail-information">
          <label></label>
         <h6></h6>
          <span class="col-reviews">
              
                   <img src="../assets/images/search-form/rating-star.png" alt="">
              <label>485 Reviews</label>
          </span>
      </div><!-- hotel detail information ends here -->  
      
      <div class="hotel-detail-slider"><img src="" height="700" width="800"></div><!-- hotel detail slider ends here -->    
      
      <div class="hotel-detail-tabs">
          
          <div class="nav-tabs">
          <ul>
              <li class="active"><a href="#tab1">Description</a></li>
              <li><a href="#tab1">Availability</a></li>
              <li><a href="#tab1">Amenities</a></li>
              <li><a href="#tab1">Reviews</a></li>
              <li><a href="#tab1">Write a Review</a></li>
          </ul>
              </div>
          <div class="tab-content" id="tab1">
              <h6>General Information</h6>
              <p></p>
              
              <div class="detail-img-content maintain">
                  <span class="detail-img-content-left defineBar">
                  <p><b>Facilities</b></p>
                  <ul class="leftBar">
                      <li></li>
                          </ul><ul class="RightBar">
                  </ul>
                  </span>
      <!--            <span class="detail-img-content-right"></span>
      -->        </div>
              
              <div class="clear"></div>
              
              <!--<div class="need-to-know-cont">
                  <h6>you need to know</h6>
                  <p>Pellentesque ac turpis egestas, varius justo et, condimentum augue. Praesent aliquam, nisl feugiat vehicula condimentum, justo tellus scelerisque metus. Pellentesque varius justo et, condimentum augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>-->
              
          </div>
      </div>    
          
      </div><!-- left content ends here -->   
      
      <div class="hotel-detail-content-right">
          <div class="book-now-top-cont">
              <p>price from <b>$ </b> / night</p>
              <a target="_blank" href="hotelbooking.&roomId=<?=$roomId?>"> <button type="button" name="" value="" class="book-now-top-btn">Book now</button></a>
          </div>
          <div class="detail-green-box">
              <h6>details</h6>
              <p>Category: <b></b></p>
              <p>price: <b>$ / night</b></p>
              <p>location: <b></b></p>
              <p>date: <b></b></p>
              <p>rate: <b></b></p>
              <p>number of people: <b></b></p>
              <p>hotel: <b></b></p>
              <p>kind of transport: <b>tourist bus</b></p>
                  <p>DISCOUNT: <b>% off</b></p>
              <button type="button" name="" value="" class="view-on-map-btn">view on map</button>
             <a target="_blank" href="hotelbooking.&roomId=<?=$roomId?>"><button type="button" name="" value="" class="view-on-map-btn bok-btn">book now</button></a>
              
          </div>
          
          <div class="map-contttt"></div>
          <button type="button" name="" value="" class="useful-information-btn"> useful information</button>
      </div><!-- right content ends here -->        
       
      <div class="clear"></div>
      <div class="may-interest-you-sec">
          <h5>may interest you</h5>
          <div class="may-interest-col">
              <div class="may-interest-col-img">
              </div>
              <div class="may-interest-col-content">
                  <p class="may-interest-date">July <b>19th</b> to July <b>26th</b></p>
                  <h6>Turkey</h6>
                  <span class="col-reviews">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <label>485 Reviews</label>
                  </span>
                  <p class="may-interest-price">from <b>$273 </b>/ person</p>
              </div>
          </div>
          <div class="may-interest-col">
              <div class="may-interest-col-img">
              </div>
              <div class="may-interest-col-content">
                  <p class="may-interest-date">July <b>19th</b> to July <b>26th</b></p>
                  <h6>Turkey</h6>
                  <span class="col-reviews">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <label>485 Reviews</label>
                  </span>
                  <p class="may-interest-price">from <b>$273 </b>/ person</p>
              </div>
          </div>
          <div class="may-interest-col">
              <div class="may-interest-col-img">
              </div>
              <div class="may-interest-col-content">
                  <p class="may-interest-date">July <b>19th</b> to July <b>26th</b></p>
                  <h6>Turkey</h6>
                  <span class="col-reviews">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <label>485 Reviews</label>
                  </span>
                  <p class="may-interest-price">from <b>$273 </b>/ person</p>
              </div>
          </div>
          <div class="may-interest-col">
              <div class="may-interest-col-img">
              </div>
              <div class="may-interest-col-content">
                  <p class="may-interest-date">July <b>19th</b> to July <b>26th</b></p>
                  <h6>Turkey</h6>
                  <span class="col-reviews">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <img src="../assets/images/search-form/rating-star.png" alt="">
                      <label>485 Reviews</label>
                  </span>
                  <p class="may-interest-price">from <b>$273 </b>/ person</p>
              </div>
          </div>
          
          
      </div>        
          
      </div>     
      </div>  
  
        
  <!-- hotel detail content ends here -->    
  
  <!-- page content ends here -->
  
  <!-- footer starts here -->
  <!-- footer ends here -->    
      
  <!--pop up starts here-->    
  <!-- ends here -->  
  
  <style>
  .defineBar {
    width:100%;
  }
  .leftBar {
   width:50%;
   float:left;
  }
  .RightBar {
   width:50%;
   float:left;
  }
  .maintain {
   width:100%;
  }
  </style>      
