<div class="banner-sec">

  <div class="slider-content">
    <img src="../assets/images/banner-img.png" alt="" class="banner-slide">
    <div class="wrapper">
      <h3>Crystal clear waters of the sea,<br>through soft white sand I wander free... </h3>
      <img src="../assets/images/banner-smile.png" alt="">
      <a href="#" class="button-discover">Discover</a>
    </div>
  </div>

</div>
<!-- banner ends here -->
<div class="clear"></div>
<!-- what is HJ starts here -->
<div class="what-hj">
  <div class="wrapper">
    <h3 class="tagline"><i>What Is</i>Halal-Friendly Travel?</h3>

    <div class="what-hj-col">
      <img src="../assets/images/what-hj-icon/food.png" alt="">
      <h5>Food</h5>
      <p>Our hotels &amp; Resorts provide Halal-food options for our guests, Our resorts don't serve alcohol &amp; many provide
        separate leasure areas and facilites for familes, men..</p>
      <a href="#">Learn More</a>
    </div>

    <div class="what-hj-col">
      <img src="../assets/images/what-hj-icon/facalities.png" alt="">
      <h5>Facilities</h5>
      <p>Our resorts don't serve alcohol &amp; many provide seperate leasure areas and facilites for familes, men &amp; women.
        Our new travel platform provides the oppertunity for you..</p>
      <a href="#">Learn More</a>
    </div>

    <div class="what-hj-col">
      <img src="../assets/images/what-hj-icon/activity.png" alt="">
      <h5>Activities</h5>
      <p>Many of our resorts provide the oppertuity to visit local visitor attactions and participant in halal- friendly leisure
        activties.
      </p>
      <a href="#">Learn More</a>
    </div>

    <div class="what-hj-col">
      <img src="../assets/images/what-hj-icon/flight.png" alt="">
      <h5>Flights</h5>
      <p>Our team of halal-travel specialitis will help to facilitate and recommend airlines that best match the your travel
        needs for luxury, business and family travel.</p>
      <a href="#">Learn More</a>
    </div>

  </div>
</div>
<!-- what is HJ ends here -->

<!-- luxury starts here -->
<div class="product-showcase">
  <div class="wrapper">
    <div class="top-info">
      <h5>Luxury</h5>
      <p>Choose from a selection of the world's finesh hotels, resorts &amp; private villas. We provide you with access to the
        very best in luxury halal travel accomodation.
      </p>
    </div>

    <div class="left-product-showcase">

      <a href="">
        <div class="product-col <">
          <div class="product-img"><img src=""></div>
          <div class="product-content">
            <span class="ratings-star">
                                <img src="../assets/images/star-yellow.png">
                  </span>

            <div class="clear"></div>
            <p></p>
            <label>From <i>$</i></label>
            <div class="clear"></div>
          </div>
        </div>
      </a>


    </div>
    <!-- left ends here -->

    <div class="right-product-showcase ">


      <a href="search.php?countryName=1">
        <div class="product-col product-col-large">
          <div class="product-img"><img src=""></div>
          <div class="product-content">
            <span class="ratings-star">
                                <img src="../assets/images/star-yellow.png">
                  </span>

            <div class="clear"></div>
            <p></p>
            <label>From <i>$</i></label>


            <div class="clear"></div>
          </div>
        </div>
      </a>



    </div>
    <!-- right ends here -->


  </div>
</div>
<!-- luxury ends here -->

<!-- romance starts here -->
<div class="romance-sec">
  <div class="wrapper">

    <div class="top-info">
      <h5>Romance</h5>
      <p>These properties offer secluded options to allow you to experience a perfect honeymoon or romantic getaway. All of
        our romance destinations provide the very best Halal facilities and are planned carefully with the option of including
        a personalised service.</p>
    </div>

    <div class="romance-col">
      <div class="romance-col-img">
        <img src="../assets/images/sample-images/romance-sec.png" alt="">
        <a href="#">View More</a>
      </div>
      <div class="romance-col-content">
        <p>Switzerland</p>
        <div class="romance-rating-stars">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
        </div>
        <label class="type-prop">Luxury Villa</label>
        <label class="from-price">from <b>$860</b></label>
      </div>
    </div>
    <div class="romance-col">
      <div class="romance-col-img">
        <img src="../assets/images/sample-images/romance-sec.png" alt="">
        <a href="#">View More</a>
      </div>
      <div class="romance-col-content">
        <p>Switzerland</p>
        <div class="romance-rating-stars">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
        </div>
        <label class="type-prop">Luxury Villa</label>
        <label class="from-price">from <b>$860</b></label>
      </div>
    </div>
    <div class="romance-col">
      <div class="romance-col-img">
        <img src="../assets/images/sample-images/romance-sec.png" alt="">
        <a href="#">View More</a>
      </div>
      <div class="romance-col-content">
        <p>Switzerland</p>
        <div class="romance-rating-stars">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
        </div>
        <label class="type-prop">Luxury Villa</label>
        <label class="from-price">from <b>$860</b></label>
      </div>
    </div>
    <div class="romance-col">
      <div class="romance-col-img">
        <img src="../assets/images/sample-images/romance-sec.png" alt="">
        <a href="#">View More</a>
      </div>
      <div class="romance-col-content">
        <p>Switzerland</p>
        <div class="romance-rating-stars">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
        </div>
        <label class="type-prop">Luxury Villa</label>
        <label class="from-price">from <b>$860</b></label>
      </div>
    </div>
    <div class="romance-col">
      <div class="romance-col-img">
        <img src="../assets/images/sample-images/romance-sec.png" alt="">
        <a href="#">View More</a>
      </div>
      <div class="romance-col-content">
        <p>Switzerland</p>
        <div class="romance-rating-stars">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
        </div>
        <label class="type-prop">Luxury Villa</label>
        <label class="from-price">from <b>$860</b></label>
      </div>
    </div>

  </div>
</div>
<!-- romance ends here -->

<!-- family starts here -->
<div class="product-showcase">
  <div class="wrapper">
    <div class="top-info">
      <h5>Family</h5>
      <p>Many of our resorts are purposely built for the Halal family tourism. They are very popular with families. Our HJ rating
        system can help you to choose the most suitable option.
      </p>
    </div>


    <div class="left-product-showcase">

      <div class="product-col product-col-large">
        <div class="product-img"><img src="../assets/images/sample-images/indonesia.png" alt=""></div>
        <div class="product-content">
          <span class="ratings-star">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
        </span>

          <div class="clear"></div>
          <p>Hungary</p>
          <label>From <i>$860</i></label>

          <div class="col-bottom-info">
            <div class="left-sd">
              <span class="people-list"><b>2</b> adults, <b>1</b> kids</span>
              <span class="date-list">July <b>19th</b> to July <b>26th</b></span>
            </div>
            <a href="#">view more</a>
          </div>


          <div class="clear"></div>
        </div>
      </div>

    </div>
    <!-- left ends here -->

    <div class="right-product-showcase">

      <div class="product-col">
        <div class="product-img"><img src="../assets/images/sample-images/hungary.png" alt=""></div>
        <div class="product-content">
          <span class="ratings-star">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
          </span>

          <div class="clear"></div>
          <p>Hungary</p>
          <label>From <i>$860</i></label>

          <div class="clear"></div>
        </div>
      </div>
      <div class="product-col">
        <div class="product-img"><img src="../assets/images/sample-images/turkey.png" alt=""></div>
        <div class="product-content">
          <span class="ratings-star">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
          </span>

          <div class="clear"></div>
          <p>Hungary</p>
          <label>From <i>$860</i></label>

          <div class="clear"></div>
        </div>
      </div>

    </div>
    <!-- right ends here -->

  </div>
</div>
<!-- family ends here -->

<!-- rejuvenating starts here -->
<div class="rejuvenating-sec">
  <div class="wrapper">

    <div class="top-info">
      <h5>Rejuvenating</h5>
      <p>Relax and unwind at one of our rejuvanating spa &amp; health resorts. </p>
    </div>

    <div class="rejuvenating-sec-col">
      <div class="rejuvenating-sec-col-img">
        <img src="../assets/images/rejuvenating/img.png" alt="" alt="">
      </div>

      <div class="rejuvenating-sec-col-content">
        <h6>Malaysia</h6>
        <label class="from-price-rej">from <b>$860</b></label>

        <div class="rating-rej">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <label>485 rewies</label>
        </div>
        <p>2 Place de la Sans Défense, Puteaux</p>
        <a href="#">Book Now</a>
      </div>


    </div>
    <div class="rejuvenating-sec-col">
      <div class="rejuvenating-sec-col-img">
        <img src="../assets/images/rejuvenating/img.png" alt="" alt="">
      </div>

      <div class="rejuvenating-sec-col-content">
        <h6>Malaysia</h6>
        <label class="from-price-rej">from <b>$860</b></label>

        <div class="rating-rej">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <label>485 rewies</label>
        </div>
        <p>2 Place de la Sans Défense, Puteaux</p>
        <a href="#">Book Now</a>
      </div>


    </div>
    <div class="rejuvenating-sec-col">
      <div class="rejuvenating-sec-col-img">
        <img src="../assets/images/rejuvenating/img.png" alt="" alt="">
      </div>

      <div class="rejuvenating-sec-col-content">
        <h6>Malaysia</h6>
        <label class="from-price-rej">from <b>$860</b></label>

        <div class="rating-rej">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <label>485 rewies</label>
        </div>
        <p>2 Place de la Sans Défense, Puteaux</p>
        <a href="#">Book Now</a>
      </div>


    </div>
    <div class="rejuvenating-sec-col last-col-rej">
      <div class="rejuvenating-sec-col-img">
        <img src="../assets/images/rejuvenating/img.png" alt="" alt="">
      </div>

      <div class="rejuvenating-sec-col-content">
        <h6>Malaysia</h6>
        <label class="from-price-rej">from <b>$860</b></label>

        <div class="rating-rej">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <img src="../assets/images/star-yellow.png" alt="">
          <label>485 rewies</label>
        </div>
        <p>2 Place de la Sans Défense, Puteaux</p>
        <a href="#">Book Now</a>
      </div>


    </div>

  </div>
</div>
<!-- rejuvenating ends here -->

<!-- Business starts here -->
<div class="product-showcase">
  <div class="wrapper">
    <div class="top-info">
      <h5>Business</h5>
      <p>Our business hotels have been specifically rated for their convience and halal travel ethos. Our dedicated staff and
        state of the art booking systems can provide you with all of the support services you need to book affordable corporate
        travel. </p>
    </div>

    <div class="left-product-showcase">
      <div class="product-col">
        <div class="product-img"><img src="../assets/images/sample-images/morocco.png" alt=""></div>
        <div class="product-content">
          <span class="ratings-star">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
          </span>

          <div class="clear"></div>
          <p>Morocco</p>
          <label>From <i>$860</i></label>

          <div class="clear"></div>
        </div>
      </div>

      <div class="product-col product-col-small">
        <div class="product-img"><img src="../assets/images/sample-images/dubai.png" alt=""></div>
        <div class="product-content">
          <span class="ratings-star">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
          </span>

          <div class="clear"></div>
          <p>Dubai</p>
          <label>From <i>$860</i></label>

          <div class="clear"></div>
        </div>
      </div>
      <div class="product-col product-col-small">
        <div class="product-img"><img src="../assets/images/sample-images/turkey-new.png" alt=""></div>
        <div class="product-content">
          <span class="ratings-star">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
          </span>

          <div class="clear"></div>
          <p>Turkey</p>
          <label>From <i>$860</i></label>

          <div class="clear"></div>
        </div>
      </div>

    </div>
    <!-- left ends here -->

    <div class="right-product-showcase">

      <div class="product-col product-col-large">
        <div class="product-img"><img src="../assets/images/sample-images/malaysia-new.png" alt=""></div>
        <div class="product-content">
          <span class="ratings-star">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
            <img src="../assets/images/star-yellow.png" alt="">
          </span>

          <div class="clear"></div>
          <p>Malaysia</p>
          <label>From <i>$860</i></label>

          <div class="col-bottom-info">
            <div class="left-sd">
              <span class="people-list"><b>2</b> adults, <b>1</b> kids</span>
              <span class="date-list">July <b>19th</b> to July <b>26th</b></span>
            </div>
            <a href="#">view more</a>
          </div>


          <div class="clear"></div>
        </div>
      </div>

    </div>
    <!-- right ends here -->

  </div>
</div>
<!-- luxury ends here -->
<!-- landing pop up starts here -->
<!-- <div class="pop-up main-landing-pop">
  <div class="wrapper">

    <div class="landing-pop-up">
      <h6>Start Your Journey Here:</h6>

      <div class="landing-pop-col">
        <label>HJ Collections</label>
        <ul>
          <li><a href="home.php">Luxury</a></li>
          <li><a href="home.php">Romance</a></li>
          <li><a href="home.php">Family</a></li>
          <li><a href="home.php">Rejuvenating</a></li>
          <li><a href="home.php">Business</a></li>
          <li><a href="home.php">Hotel Only</a></li>
        </ul>
      </div>
      <div class="landing-pop-col second-col-lnd">
        <label>Journey Types</label>
        <ul>
          <li><a href="home.php">Luxury Hotels &amp; Resorts</a></li>
          <li><a href="home.php">Beach Hotels</a></li>
          <li><a href="home.php">Honeymoon </a></li>
          <li><a href="home.php">Private Villas</a></li>
          <li><a href="home.php">Thermal &amp; Health Spa</a></li>
          <li><a href="home.php">Family-Friendy</a></li>
          <li><a href="home.php">Snow &amp; Ski</a></li>
        </ul>

        <ul>
          <li><a href="home.php">City Hotels</a></li>
          <li><a href="home.php">Activities &amp; Experience</a></li>
          <li><a href="home.php">Business Hotels</a></li>
          <li><a href="home.php">Business Retreats</a></li>
        </ul>
      </div>
      <div class="landing-pop-col last-col-lnd">
        <label>Destinations</label>
        <ul>
          <li><a href="search.php?countryName=Bahrainoms=1">Bahrain</a></li>
          <li><a href="search.php?countryName=China&cs=1">China</a></li>
          <li><a href="search.php?countryName=India&cs=1">India</a></li>
          <li><a href="search.php?countryName=Turkey&ms=1">Turkey</a></li>
          <li><a href="search.php?countryName=Malaysiooms=1">Malaysia</a></li>
          <li><a href="search.php?countryName=IndonesRooms=1">Indonesia</a></li>
          <li><a href="search.php?countryName=UK&coun">UK</a></li>
          <li><a href="search.php?countryName=Saudi A=0&Rooms=1">Saudi Arabia</a></li>
          <li><a href="search.php?countryName=Spain&cs=1">Spain</a></li>
          <li><a href="search.php?countryName=Switzer0&Rooms=1">Switzerland</a></li>
          <li><a href="search.php?countryName=Qatar&cs=1">Qatar</a></li>
        </ul>
      </div>

      <div class="clear"></div>
      <div class="not-sure">
        <p>I am not sure, take me to explore</p>
        <a href="home.php">Go to Homepage</a>
      </div>

      <button type="button" name="" value="" class="close-btn"></button>
    </div>
  </div>
</div> -->
<!-- landing pop up ends here -->

<script type="text/javascript">
  $(document).ready(function () {
    $('.fb-pop-btn').click(function () {
      $(this).addClass('active');
      $('.tw-pop-btn').removeClass('active');
      $('.inst-pop-btn').removeClass('active');
      $('.yt-pop-btn').removeClass('active');
      $('.fb-pop').show();
      $('.tw-pop').hide();
      $('.inst-pop').hide();
      $('.yt-pop').hide();
    });
    $('.tw-pop-btn').click(function () {
      $(this).addClass('active');
      $('.fb-pop-btn').removeClass('active');
      $('.inst-pop-btn').removeClass('active');
      $('.yt-pop-btn').removeClass('active');
      $('.tw-pop').show();
      $('.fb-pop').hide();
      $('.inst-pop').hide();
      $('.yt-pop').hide();
    });
    $('.inst-pop-btn').click(function () {
      $(this).addClass('active');
      $('.fb-pop-btn').removeClass('active');
      $('.tw-pop-btn').removeClass('active');
      $('.yt-pop-btn').removeClass('active');
      $('.inst-pop').show();
      $('.tw-pop').hide();
      $('.fb-pop').hide();
      $('.yt-pop').hide();
    });
    $('.yt-pop-btn').click(function () {
      $(this).addClass('active');
      $('.fb-pop-btn').removeClass('active');
      $('.tw-pop-btn').removeClass('active');
      $('.inst-pop-btn').removeClass('active');
      $('.yt-pop').show();
      $('.fb-pop').hide();
      $('.tw-pop').hide();
      $('.inst-pop').hide();
    });

    $('.close-icon').click(function () {
      $('.share-pop').hide();
      $('.fb-pop-btn').removeClass('active');
      $('.tw-pop-btn').removeClass('active');
      $('.inst-pop-btn').removeClass('active');
    });

    $('.close-btn').click(function () {
      $('.main-landing-pop').hide();
    });
  });

  $(function () {

    var timer = setInterval(showDiv, 5000);

    var counter = 0;

    function showDiv() {
      if (counter == 0) {
        counter++;
        return;
      }

      $('div', '#share-pop-cont')
        .stop()
        .hide()
        .filter(function () {
          return this.id.match('div' + counter);
        })
        .fadeIn('slow');
      counter == 4 ? counter = 0 : counter++;
    }
  });

  $(function () {
    //----- OPEN
    $('[data-popup-open]').on('click', function (e) {
      var targeted_popup_class = jQuery(this).attr('data-popup-open');
      $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);

      e.preventDefault();
    });

    //----- CLOSE
    $('[data-popup-close]').on('click', function (e) {
      var targeted_popup_class = jQuery(this).attr('data-popup-close');
      $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);

      e.preventDefault();
    });
  });

  $(window).scroll(function () {
    $(".scroll-header").each(function () {
      var pageScrolled = $(window).scrollTop();
      console.log(pageScrolled);
      if (400 < pageScrolled) {
        $(this).addClass('fixed-scroll');
      } else {
        $(this).removeClass('fixed-scroll');
      }
    });
  });

</script>
